@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

html {
    font-family: 'Poppins', sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }

  body {
    line-height: 1.7;
  }


  .page-section {
    margin: 4.5rem auto;
    height: 150vh fit-content;
  }

  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

.py-3 {
  padding-bottom: 1rem !important;
}
.py-3 {
  padding-top: 1rem !important;
}

.title {
  padding: 4rem;
  text-align: center;
  background: linear-gradient(to bottom, rgba(0, 183, 255, 0.4) 0%, rgb(245 242 240 / 45%) 100%);
}

.toast {
  position: fixed;
  left: 85%;
  top: 15%;
  display: flex;
  transform: translate(-50%, -50%);
}

/* NAV */

.navbar {
  background-color: #ffffff;  
}

.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

.navbar-scroll,
.navbar-scrolled {
  background-color: #009bf58c;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .15);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

.ml-auto {
  margin-left: auto !important;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .15);
}

/* NAV MEDIA QUERIES */

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 600px) {
  .navbar-brand{
    font-size: 1rem !important;
    letter-spacing: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
  }

}


/* LOGIN STYLE */

#login-frm .type-button {
  padding: 1rem;
  text-align: center;
}

#login-frm .btn {
  padding: 0.5rem 3rem;
  margin: 0.5rem;
}


#login-frm .lbutton {
  text-align: center;
  padding: 0.5rem;
  margin-top: 1rem;
}

#login-frm .lbutton small {
  display: block;
}

/* SIGN UP */

#signup-frm .type-button {
  padding: 1rem;
  text-align: center;
}

#signup-frm  .btn {
  padding: 0.5rem 3rem;
  margin: 0.5rem;
}

#signup-frm .lbutton {
  text-align: center;
  padding: 0.5rem;
  margin-top: 1rem;
}

/* CHAT STYLE */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.wrapper{
  height: fit-content;
  margin: 5% auto;
  background: #fff;
  max-width: 50rem;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
}

/* HOME */
.bg-image {
  background-image: url(../assets/img/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 100vh;
}

.header-container {
  margin: auto;
  width: 50rem;
  margin-top: 2rem;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
  position: relative;
  text-align: center;
  top: 20%;
}

.header-container h3 {
  color: black;
  font-size: 3rem;
  padding: 0.5rem;
  background: linear-gradient(90deg, transparent, rgb(191, 230, 248), transparent);

}

.header-container hr {
  width: 20%;
  margin:  5% 40% !important;
}

 .header-container .btn {
  background: rgb(142, 187, 216);
  border-color: rgb(33, 50, 70);
  color: #333;
 }
 .header-container .btn:hover {
  border-color: rgb(27, 197, 240);
  background: rgb(142, 187, 216);
  color: #333;
}

/* HOME MEDIA QUERIES */

@media screen and (max-width: 1024px) {

  .bg-image {
    height: 50vh;
  }
}

@media screen and (max-width: 600px) {

  .header-container{
    padding-top: 0;
    max-width: fit-content;
  }

  .header-container h3{
    font-size: 1.5rem;
  }
}


/* MEDICAL SPECIALITIES */

#portfolio {
  height: 100vh fit-content;
}

#portfolio .container-fluid {
  margin-top: 5%;
}

#portfolio .portfolio-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
    padding: 5rem;
}

.portfolio-item a img {
    padding: 1.2rem;
    border-radius: 50%;
    width: 40rem ;
    height: 20rem;
}

#portfolio .portfolio-box-caption {
  text-align: center;
}

/* MEDICAL SPECIALITIES MEDIA QUERIES */

@media screen and (max-width: 1024px) {

  #portfolio .portfolio-container{
    grid-template-columns: 1fr 1fr;
  }

}


@media screen and (max-width: 600px) {
  #portfolio .container{
    grid-template-columns: 1fr 1fr;
  }

  #portfolio .portfolio-container{
    grid-template-columns: 1fr;
  }

  .portfolio-item a img {
    padding: 0;
    border-radius: 50%;
    width: 80% fit-content;
    height: 80%;
  }

}


/* DASHBOARD */

.dashboard .container{
  padding: 3rem;
  margin: 1rem auto;
}

.dashboard .card-body{
  overflow-x: auto;
}


.dashboard table {
  text-align: center;
  margin: 2rem auto;
}

.text-center{

  text-align: center !important; 
  width: fit-content;
  margin: 0 auto;
  font-size: 27px;
  vertical-align: bottom;

}

.larger{
    width: 30rem;
  }

/* DASHBOARD QUERIES */

@media screen and (max-width: 1024px) {
  .dashboard .container{
    padding: 0;
  }


}

@media screen and (max-width: 600px) {
  


}



/* DOCTORS SECTION */


#doctors .container {
  padding-bottom: 5rem;
} 

#doctors .card{
  border-radius: 3rem;
  margin-top: 2rem;
}

#doctors .card-body {
  padding: 5rem;
}

#doctors .card-body hr {
  margin:  5% auto !important;
  width: 100%;
}


/* ABOUT US */

.about-content {
  position: relative;
  padding: 0 5rem;
  margin: 5rem auto;
  border-radius: 5rem;
  text-align: center;
}

.about-container{
  padding-bottom: 5rem;
}

/* ABOUT QUERIES */

@media screen and (max-width: 1024px) {

  .about-content{
    padding: 0;
  }

  #doctors span{
      margin: 0.5rem;
  } 

  .set_appointment {
      margin-top: 1rem;
  }

}

@media screen and (max-width: 600px) {

  .about-content{
    padding: 0;
  }

  .about-content span{
    font-size: 1rem !important;
  }

  .about-content p{
    font-size: 1rem !important;
  }

  #doctors span{
    margin: 0.5rem;
} 

.set_appointment {
  margin-top: 1rem;
}

}



/* PROFILE */

#doctor-profile .container{
 margin: 3rem auto;

}

#doctor-profile .form-group {
  margin: 1rem auto;
}

.profile-image{
  text-align: center;
}

.profile-image img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

#user-profile .form-group {
  margin: 1rem auto;
}

#user-profile .container{
  margin: 3rem auto;
 
 }



/* Chat Area CSS Start */
.chat-area header{
  display: flex;
  align-items: center;
  padding: 18px 30px;
}
.chat-area header .back-icon{
  color: #333;
  font-size: 18px;
}
.chat-area header img{
  height: 45px;
  width: 45px;
  margin: 0 15px;
  border-radius: 50%;
}
.chat-area header .details span{
  font-size: 17px;
  font-weight: 500;
}
.chat-box{
  position: relative;
  min-height: 40rem;
  max-height: 40rem;
  overflow: hidden;
  background: #f7f7f7;
  box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
              inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}

.messages {
  overflow:   auto;
  position:   absolute;
  bottom:     0;
  max-height: 40rem;
  width: 100%;
  padding: 10px 30px 20px 30px;
}

.img-up {
  position:   absolute;
  bottom:   0;
  max-height: 40rem;
  width: 30%;
  padding: 1rem;
  background: white;
  right: 0;
  border-radius: 3rem 0 0 0;
  text-align: center;
  display: none;
}

.img-up #close {
  overflow: visible;
  position: relative;
}

.img-up i {
  position: absolute;
  background: white;
  top: -10px;
  right: -10px;
  font-size: 1rem;
}

.img-up img{

  border-radius: 1rem;
  width: 10rem;
  height: 6rem;

}

#file-input {
  display: none;
}

.typing-area label i {
  height: 45px;
  font-size: 45px;
}

.chat-box .text{
  position: absolute;
  top: 45%;
  left: 50%;
  width: calc(100% - 50px);
  text-align: center;
  transform: translate(-50%, -50%);
}
.chat-box .chat{
  margin: 15px 0;
}
.chat-box .chat .mess{
  word-wrap: break-word;
  padding: 8px 16px;
  box-shadow: 0 0 32px rgb(0 0 0 / 8%),
              0rem 16px 16px -16px rgb(0 0 0 / 10%);
}
.chat-box .outgoing{
  display: flex;
}
.chat-box .outgoing .details{
  margin-left: auto;
  max-width: calc(100% - 130px);
}
.outgoing .details .mess{
  background: #333;
  color: #fff;
  border-radius: 18px 18px 0 18px;
}
.chat-box .incoming{
  display: flex;
  align-items: flex-end;
}
.chat-box .incoming img{
  height: 150;
  width: 250;
  border-radius: 1rem;
}

.incoming .imgmess {
  background: #fff;
  border-radius: 18px 18px 18px 0;
  padding: 1rem;
}

.outgoing .imgmess {
  background: #fff;
  border-radius: 18px 18px 0 18px;
  padding: 1rem;
}

.chat-box .incoming .details{
  margin-right: auto;
  margin-left: 10px;
  max-width: calc(100% - 130px);
}
.incoming .details .mess{
  background: #fff;
  color: #333;
  border-radius: 18px 18px 18px 0;
}
.typing-area{
  padding: 18px 30px;
  display: flex;
  justify-content: space-between;
}
.typing-area input{
  height: 45px;
  width: calc(100% - 58px);
  font-size: 16px;
  padding: 0 13px;
  border: 1px solid #e6e6e6;
  outline: none;
  border-radius: 5px 0 0 5px;
}
.typing-area button{
  color: #fff;
  width: 55px;
  border: none;
  outline: none;
  background: #333;
  font-size: 19px;
  cursor: pointer;
  opacity: 0.7;
  pointer-events: none;
  border-radius: 0 5px 5px 0;
  transition: all 0.3s ease;
  max-height: 45px;
}
.typing-area button.active{
  opacity: 1;
  pointer-events: auto;
}

:is(.messages)::-webkit-scrollbar{
  width: 0px;
}



/* CHAT media query */

  
@media screen and (max-width: 450px) {

  .chat-area header{
    padding: 15px 20px;
  }
  .chat-box{
    min-height: 400px;
    padding: 10px 15px 15px 20px;
  }
  .chat-box .chat p{
    font-size: 15px;
  }
  .chat-box .outogoing .details{
    max-width: 230px;
  }
  .chat-box .incoming .details{
    max-width: 265px;
  }
  .incoming .details img{
    height: 30px;
    width: 30px;
  }
  .chat-area form{
    padding: 20px;
  }
  .chat-area form input{
    height: 40px;
    width: calc(100% - 48px);
  }
  .chat-area form button{
    width: 45px;
    max-height: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper{
    margin: 10% auto !important;
  }

}

@media screen and (max-width: 600px) {
  .wrapper{
    margin: 20% auto !important;
  }

  .chat-box .incoming img{
    height: 50%;
    width: 50%;
    border-radius: 1rem;
  }

  .chat-box .outgoing img{
    height: 50%;
    width: 50%;
    border-radius: 1rem;
  }

  .incoming .imgmess {
    background: #fff;
    border-radius: 18px 18px 18px 0;
    padding: 0.5rem;
    text-align: center;
    margin: 0;
  }

  .outgoing .imgmess {
    background: #fff;
    border-radius: 18px 18px 0 18px;
    padding: 0.5rem;
    text-align: center;
    margin: 0;
  }

}

.mid-button {
  text-align: center !important;
  gap: 1rem;
}